/*
===================================================================================================
B A S E . C S S
===================================================================================================
*/

@-ms-viewport { width: device-width; }

html { height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { background: transparent; font-size: 100%; vertical-align: baseline; border: 0; outline: 0; margin: 0; padding: 0; }
article, aside, dialog, figure, figcaption, footer, header, hgroup, nav, section { display: block; }

/* Typgraphy -------------------------------------- */

ul { list-style: none outside; }
ul.ul-disc { list-style: disc outside; margin-left: 2em; }
ul.ul-square { list-style: square outside; margin-left: 2em; }
ol { list-style: decimal outside; margin-left: 2em; }
li ul, li ol { margin-bottom: 0; }

nav ul { margin: 0; }

strong, b { font-weight: bold; }
small { font-size: .875em; }
strike, del { text-decoration: line-through; }
pre, code, kbd, samp { font-family: Consolas, "Lucida Console", Monaco, monospace; font-size: .875em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
sub { font-size: .75em; line-height: 1; vertical-align: sub; }
sup { font-size: .875em; line-height: 1; vertical-align: super; }
mark { background: #ffc; padding: 1px 3px; }
hr { display: block; height: 1px; border: 0 none; border-top: 1px solid #384749; padding: 0; }


/* Links -------------------------------------- */

a, :focus { outline: 0; }
a img { border: 0 none; }


/* Forms -------------------------------------- */

input, textarea { font-weight: inherit; font-size: inherit; font-family: inherit; color: inherit; vertical-align: baseline; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
select { cursor: pointer; vertical-align: baseline; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=tel],
textarea { background: #fff; display: inline-block; width: 100%; border: 1px solid #fff; border-radius: 0; -webkit-appearance: none; margin: 0; padding: 4px; }

input[type=file] { display: inline-block; width: 100%; border: 1px solid transparent; border-radius: 0; -webkit-appearance: none; margin: 0; padding: 4px; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration { -webkit-appearance: none; }
input[type=search] { -webkit-appearance: textfield; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

textarea { overflow: auto; resize: none; vertical-align: top; resize: vertical; }

button, .btn { background: transparent; font-weight: bold; font-family: inherit; font-size: inherit; color: inherit; text-align: center; display: inline-block; *display: inline; *zoom: 1; vertical-align: baseline; width: auto; overflow: visible; cursor: pointer; border: 0 none; margin: 0; }

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
:placeholder { color: #999; }

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0; margin: 0; padding: 0; /* Firefox Fix */ }


/* Tables -------------------------------------- */

table { width: 100%; border-spacing: 0; border-collapse: collapse; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
th, td { font-family: inherit; color: inherit; text-align: left; vertical-align: top; }


/* Media -------------------------------------- */

img, object, embed { display: block; vertical-align: middle; max-width: 100%; width: auto; /* IE Fix */ height: auto; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }


/* Various Helper Classes -------------------------------------- */

.left { float: left !important; }
.right { float: right !important; }
.normal { font-weight: normal !important; }
.anim { -webkit-backface-visibility: hidden; -webkit-perspective: 1000; -webkit-transform: translate3d(0,0,0); /* speeds up css-animations in safari */ }
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear:both; }
.cf { zoom: 1; }
.clear { clear: both; }

a.arrow { font-weight: bold; white-space: nowrap; }
a.arrow:after { content: ""; display: inline-block; width: 0; height: 0; border-style: solid; border-width: .325em 0 .325em .325em; border-color: transparent transparent transparent #00f; margin-left: .3em; }
a.arrow:hover:after { border-left-color: #c00; }


/* IE 7 Special Treatment -------------------------------------- */

.ie7 img { -ms-interpolation-mode: bicubic; }
.ie7 legend { margin-left: -7px; }
.ie7 input, .ie7 select, .ie7 textarea, .ie7 button, .ie7 .btn { vertical-align: middle; }
.ie7 input[type=text], .ie7 input[type=password], .ie7 input[type=search], .ie7 input[type=email], .ie7 input[type=url], .ie7 input[type=tel], .ie7 textarea { display: inline; zoom: 1; }
.ie7 audio, .ie7 canvas, .ie7 video { display: inline; *zoom: 1; }
.ie7 .cf { *zoom: 1; }

