/*
===================================================================================================
S T Y L E S . C S S
===================================================================================================
*/

html { background: #eee; }
body { background: #fff; font: normal 1.125em/1.5 "Gentium Basic", Georgia, Times, "Times New Roman", serif; color: #333; text-align: center; max-width: 64em; margin: 0 auto; padding: 0 2%; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, pre, address, table, form, hr, figure, audio, video { margin-bottom: 1em; }


/* TYPOGRAPHY ---------------------------------------------------------------------------------- */


h1, h2, h3 { font-family: "Open Sans", sans-serif; text-rendering: optimizelegibility; }

h1 { font-size: 2.25em; line-height: 1.16667; margin-bottom: .4445em; }
h2 { font-size: 1.875em; line-height: 1.2; margin-bottom: .5334em; }
h3 { font-size: 1.5em; line-height: 1.25; margin-bottom: .6667em; }
h4 { font-size: 1em; line-height: 1.5; }
h5 { font-size: 1em; line-height: 1.5; }
h6 { font-size: 1em; line-height: 1.5; }

::-webkit-selection {  }
::-moz-selection {  }
::selection {  }

a {  }
a:visited {  }
a:hover {  }
a:active {  }


/* FORMS --------------------------------------------------------------------------------------- */

form {  }
fieldset {  }
label, .label {  }


/* Default Input Styles */

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=tel],
input[type=file],
textarea {  }


/* Button */

button, .btn { background: #ccc; }
button:hover, .btn:hover {  }
button:active, .btn:active {  }


/* Placeholder */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {  }
input:-moz-placeholder,
textarea:-moz-placeholder {  }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  }
input:placeholder,
textarea:placeholder {  }


/* MEDIA --------------------------------------------------------------------------------------- */

figure {  }
figcaption {  }

img, object, embed {  }

[class^="icon-"], [class*=" icon-"] {  }


/* TABLES --------------------------------------------------------------------------------------- */

table {  }

colgroup {  }

th, td {  }

thead th {  }

tbody th {  }
tbody td {  }
tbody td[colspan] {  }

tfoot td {  }


/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

#masthead {  }

a#logo {  }
a#logo img { display: inline-block; }


/* MODUL: NAVIGATION --------------------------------------------------------------------------- */

#mainnav {  }

#mainnav ul {  }
#mainnav li {  }

#mainnav a {  }
#mainnav a:hover {  }
#mainnav a:active {  }

#mainnav .current a { cursor: default; }


/* MODUL: MAIN --------------------------------------------------------------------------------- */

#main { text-align: left; }


/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

footer[role=contentinfo] {  }


/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  480px
===================================================================================================
*/

@media only screen and (min-width: 480px) {

/* TYPOGRAPHY ---------------------------------------------------------------------------------- */

/* FORMS --------------------------------------------------------------------------------------- */

/* MEDIA --------------------------------------------------------------------------------------- */

/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

/* MODUL: NAVIGATION --------------------------------------------------------------------------- */

/* MODUL: MAIN --------------------------------------------------------------------------------- */

/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

}


/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  768px
===================================================================================================
*/

@media only screen and (min-width: 768px) {

/* TYPOGRAPHY ---------------------------------------------------------------------------------- */

/* FORMS --------------------------------------------------------------------------------------- */

/* MEDIA --------------------------------------------------------------------------------------- */

/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

/* MODUL: NAVIGATION --------------------------------------------------------------------------- */

/* MODUL: MAIN --------------------------------------------------------------------------------- */

/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

}


/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  992px
===================================================================================================
*/

@media only screen and (min-width: 992px) {

/* TYPOGRAPHY ---------------------------------------------------------------------------------- */

/* FORMS --------------------------------------------------------------------------------------- */

/* MEDIA --------------------------------------------------------------------------------------- */

/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

/* MODUL: NAVIGATION --------------------------------------------------------------------------- */

/* MODUL: MAIN --------------------------------------------------------------------------------- */

/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

}


/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  1382px
===================================================================================================
*/

@media only screen and (min-width: 1382px) {

/* TYPOGRAPHY ---------------------------------------------------------------------------------- */

/* FORMS --------------------------------------------------------------------------------------- */

/* MEDIA --------------------------------------------------------------------------------------- */

/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

/* MODUL: NAVIGATION --------------------------------------------------------------------------- */

/* MODUL: MAIN --------------------------------------------------------------------------------- */

/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

}


/*
===================================================================================================
M E D I A   Q U E R I E S   >   Print Styles
===================================================================================================
*/

@media print {

* { background: transparent !important; color: black !important; text-shadow: none !important; box-shadow: none !important; opacity: 1 !important; filter: none !important; -ms-filter: none !important; }

@page { margin: .5cm; }


/* TYPOGRAPHY ---------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
p, h1, h2, h3, h4, h5, h6 { orphans: 3; widows: 3; }

ul { list-style: disc inside; padding: 0 1em; }
ol { list-style: decimal inside; padding: 0 1em; }

a, a:visited { color: black !important; text-decoration: underline; }


/* FORMS --------------------------------------------------------------------------------------- */

/* MEDIA --------------------------------------------------------------------------------------- */

img { page-break-inside: avoid; }


/* MODUL: HEADER (Masthead) -------------------------------------------------------------------- */

/* MODUL: NAVIGATION --------------------------------------------------------------------------- */

/* MODUL: MAIN --------------------------------------------------------------------------------- */

/* MODUL: FOOTER (Contentinfo) ----------------------------------------------------------------- */

}