html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video { background: transparent; font-size: 100%; vertical-align: baseline; border: 0; outline: 0; margin: 0; padding: 0; }

html { background: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
body { font: normal 1em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; color: #111; max-width: 64em; margin: 0 auto; padding: 3em 1.5em; }

article, aside, figure, figcaption, footer, header, nav, section { display: block; }
h1, h2, h3, h4, p, ul, ol, dl, pre, address, table, form, hr, figure, audio, video { margin-bottom: 1.5em; }



/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */

h1 { font-weight: bold; font-size: 3em; line-height: 1.15; margin-bottom: .5em; }
h2 { font-weight: bold; font-size: 2em; line-height: 1.25; margin-bottom: .75em; }
h3 { font-weight: bold; font-size: 1.5em; line-height: 1.25; margin-bottom: 1em; }
h4 { font-weight: bold; font-size: 1em; }

a, :focus { outline: 0; }

a { color: #07f; text-decoration: none; }
a:visited { color: #07f; text-decoration: none; }
a:hover { color: #07f; text-decoration: underline; }
a:active { color: #07f; text-decoration: underline; }

a img { border: 0 none; }

strong, b { font-weight: bold; }
small { font-size: .875em; }
strike, del { text-decoration: line-through; }

pre, code, kbd, samp { font-family: Consolas, "Lucida Console", Monaco, monospace; font-size: .875em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
mark { background: #ffc; padding: 1px 3px; }

blockquote { font-style: italic; border-left: 2px solid #07f; margin-bottom: 1.5em; padding: 1.125em 1.5em 1px; }

hr { display: block; height: 0; border: 0 none; border-top: 1px solid #384749; margin: 2.5em 0; }

ul { list-style: square outside; margin-left: 2em; }
ul ul { margin-bottom: 0; }

ol { list-style: decimal outside; margin-left: 2em; }
ol ol { margin-bottom: 0; }

dl {  }
dt { font-weight: bold; }
dd {  }
dd + dt { margin-top: 1.5em; }



/* FORMS
------------------------------------------------------------------------------------------------ */

form {  }
fieldset {  }
fieldset > div { margin-bottom: 1.5em; }

label, .label { display: block; cursor: pointer; }

input, select, textarea { font-weight: inherit; font-size: inherit; font-family: inherit; color: inherit; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time], input[type=number], input[type=file], textarea { background: #fff; display: block; width: 100%; border: 1px solid #ccc; margin: 0; padding: .375em; border-radius: 0; -webkit-appearance: none; }
input[type=checkbox], input[type=radio] { margin: 0; padding: 0; }
select { cursor: pointer; }
textarea { overflow: auto; resize: none; vertical-align: top; }

button, .btn { background: transparent; font-family: inherit; font-weight: bold; font-size: .875em; line-height: normal; color: #07f; text-align: center; text-transform: uppercase; display: inline-block; vertical-align: baseline; width: auto; overflow: visible; cursor: pointer; border: 2px solid #07f; margin: 0; padding: .75em 2em; }
button:hover, .btn:hover { background: #07f; color: #fff; }
button:active, .btn:active { background: #07f; color: #fff; }

.helptext { font-size: .75em; display: block; }

/* Firefox Fix */
button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner { border: 0; margin: 0; padding: 0; }

/* WebKit Fix */
input[type=search], input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

/* iOS7 Fix - some inputs collapse when empty */
input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time], input[type=number], input[type=file] { height: 2em; }



/* MEDIA
------------------------------------------------------------------------------------------------ */

img { -ms-interpolation-mode: bicubic; }
img, object, embed { display: block; vertical-align: middle; max-width: 100%; width: auto; width: auto\9; /* IE Fix */ height: auto; border: 0; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }

figure {  }
figcaption {  }

img, object, embed {  }

/* Disable max-width for Google Map images */
#map_canvas img, .google-maps img { max-width: none; }



/* TABLES
------------------------------------------------------------------------------------------------ */

table { width: 100%; border-spacing: 0; border-collapse: collapse; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

colgroup { border: 1px solid #111; }

th, td { font-family: inherit; font-weight: normal; color: inherit; text-align: left; vertical-align: top; border-bottom: 1px solid #111; padding: .5em; }

thead th { font-weight: bold; }
tbody th { font-weight: bold; }
tbody td {  }
tbody td[colspan] { text-align: center; }
tfoot td { color: #777; }



/* HELPER CLASSES
------------------------------------------------------------------------------------------------ */

.left { float: left !important; }
.right { float: right !important; }
.normal { font-weight: normal !important; }

.cf:before, .cf:after { content: ""; display: table; }
.cf:after, .clear { clear: both; }



/* FLEXROWS
------------------------------------------------------------------------------------------------ */

.flexrow { margin-left: -1.5em; padding-left: 4px; }

[class^="col"] { display: inline-block; width: 100%; vertical-align: top; border-left: 1.5em solid transparent; margin-bottom: 1.5em; margin-left: -4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }



/* MODUL: HEADER (Masthead)
------------------------------------------------------------------------------------------------ */

.masthead {  }

a.logo {  }
a.logo img { display: inline-block; }



/* MODUL: NAVIGATION
------------------------------------------------------------------------------------------------ */

.mainnav {  }

.mainnav ul { list-style: none; margin: 1.5em 0; }
.mainnav li { display: inline; }

.mainnav a {  }
.mainnav a:hover {  }
.mainnav a:active {  }



/* MODUL: MAIN
------------------------------------------------------------------------------------------------ */

.main {  }

.flexform label { }



/* MODUL: FOOTER (Contentinfo)
------------------------------------------------------------------------------------------------ */

footer[role=contentinfo] {  }





/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  480px
===================================================================================================
*/

@media only screen and (min-width: 480px) {



/* FLEXROWS
------------------------------------------------------------------------------------------------ */

[class^="col"] { width: 50%; }



/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */



/* FORMS
------------------------------------------------------------------------------------------------ */



/* MEDIA
------------------------------------------------------------------------------------------------ */



/* MODUL: HEADER (Masthead)
------------------------------------------------------------------------------------------------ */



/* MODUL: NAVIGATION
------------------------------------------------------------------------------------------------ */



/* MODUL: MAIN
------------------------------------------------------------------------------------------------ */



/* MODUL: FOOTER (Contentinfo)
------------------------------------------------------------------------------------------------ */



}





/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  768px
===================================================================================================
*/

@media only screen and (min-width: 768px) {



/* FLEXROWS
------------------------------------------------------------------------------------------------ */

.col1_6 { width: 16.6667%; }
.col1_5 { width: 20%; }
.col1_4 { width: 25%; }
.col1_3 { width: 33.3334%; }
.col2_5 { width: 40%; }
.col1_2 { width: 50%; }
.col3_5 { width: 60%; }
.col2_3 { width: 66.6667%; }
.col3_4 { width: 75%; }
.col1_1 { width: 100%; }



/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */



/* FORMS
------------------------------------------------------------------------------------------------ */

.flexform .label, .flexform label { display: inline-block; width: 28%; padding-right: 2% }
.flexform label.autowidth { width: auto; }

.flexform input[type=text], .flexform input[type=password], .flexform input[type=search], .flexform input[type=email], .flexform input[type=url], .flexform input[type=tel], .flexform input[type=date], .flexform input[type=time], .flexform input[type=number], .flexform input[type=file], .flexform textarea { display: inline-block; width: 70%; margin-left: -4px }

.flexform button, .flexform span.helptext { margin-left: 30%; }



/* MEDIA
------------------------------------------------------------------------------------------------ */



/* MODUL: HEADER (Masthead)
------------------------------------------------------------------------------------------------ */



/* MODUL: NAVIGATION
------------------------------------------------------------------------------------------------ */



/* MODUL: MAIN
------------------------------------------------------------------------------------------------ */



/* MODUL: FOOTER (Contentinfo)
------------------------------------------------------------------------------------------------ */



}





/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  992px
===================================================================================================
*/

@media only screen and (min-width: 992px) {



/* FLEXROWS
------------------------------------------------------------------------------------------------ */



/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */



/* FORMS
------------------------------------------------------------------------------------------------ */



/* MEDIA
------------------------------------------------------------------------------------------------ */



/* MODUL: HEADER (Masthead)
------------------------------------------------------------------------------------------------ */



/* MODUL: NAVIGATION
------------------------------------------------------------------------------------------------ */



/* MODUL: MAIN
------------------------------------------------------------------------------------------------ */



/* MODUL: FOOTER (Contentinfo)
------------------------------------------------------------------------------------------------ */



}





/*
===================================================================================================
M E D I A   Q U E R I E S   >   Min-width:  1382px
===================================================================================================
*/

@media only screen and (min-width: 1382px) {



/* FLEXROWS
------------------------------------------------------------------------------------------------ */



/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */



/* FORMS
------------------------------------------------------------------------------------------------ */



/* MEDIA
------------------------------------------------------------------------------------------------ */



/* MODUL: HEADER (Masthead)
------------------------------------------------------------------------------------------------ */



/* MODUL: NAVIGATION
------------------------------------------------------------------------------------------------ */



/* MODUL: MAIN
------------------------------------------------------------------------------------------------ */



/* MODUL: FOOTER (Contentinfo)
------------------------------------------------------------------------------------------------ */



}





/*
===================================================================================================
M E D I A   Q U E R I E S   >   Retina / High DPI Styles
===================================================================================================
*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {



/* FLEXROWS
------------------------------------------------------------------------------------------------ */



/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */



/* FORMS
------------------------------------------------------------------------------------------------ */



/* MEDIA
------------------------------------------------------------------------------------------------ */



/* MODUL: HEADER (Masthead)
------------------------------------------------------------------------------------------------ */



/* MODUL: NAVIGATION
------------------------------------------------------------------------------------------------ */



/* MODUL: MAIN
------------------------------------------------------------------------------------------------ */



/* MODUL: FOOTER (Contentinfo)
------------------------------------------------------------------------------------------------ */



}





/*
===================================================================================================
M E D I A   Q U E R I E S   >   Print Styles
===================================================================================================
*/

@media print {



* { background: transparent !important; color: black !important; text-shadow: none !important; box-shadow: none !important; opacity: 1 !important; filter: none !important; -ms-filter: none !important; }

@page { margin: 2cm; }



/* FLEXROWS
------------------------------------------------------------------------------------------------ */



/* TYPOGRAPHY
------------------------------------------------------------------------------------------------ */

h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
p, h1, h2, h3, h4, h5, h6 { orphans: 3; widows: 3; }

ul { list-style: disc inside; padding: 0 1em; }
ol { list-style: decimal inside; padding: 0 1em; }

a, a:visited { color: black !important; text-decoration: underline; }



/* FORMS
------------------------------------------------------------------------------------------------ */



/* MEDIA
------------------------------------------------------------------------------------------------ */

img { page-break-inside: avoid; }



/* MODUL: HEADER (Masthead)
------------------------------------------------------------------------------------------------ */



/* MODUL: NAVIGATION
------------------------------------------------------------------------------------------------ */



/* MODUL: MAIN
------------------------------------------------------------------------------------------------ */



/* MODUL: FOOTER (Contentinfo)
------------------------------------------------------------------------------------------------ */



}