// --------------------------------------------------------------------------------------------------------------------
// Color Variables
// --------------------------------------------------------------------------------------------------------------------


$color-primary:							#345;



// --------------------------------------------------------------------------------------------------------------------



// Global Components

$color-html-bg:							#fff;
$color-body-bg:							#fff;

$color-text:							$color-primary;
$color-text-light:						rgba($color-text, .8);

$color-link:							lighten($color-primary, 0%);
$color-link-hover:						darken($color-link, 20%);

$color-border:							rgba($color-text, .2);


// Footer

$color-footer-bg:						$color-primary;
$color-footer-text:						#fff;
$color-footer-link:						rgba($color-footer-text, .75);
$color-footer-link-hover:				$color-footer-text;


// Buttons

$color-button-bg-primary:				$color-primary;
$color-button-border-primary:			$color-primary;
$color-button-text-primary:				#fff;

$color-button-bg-hover-primary:			darken($color-button-bg-primary, 5%);
$color-button-border-hover-primary:		darken($color-button-border-primary, 5%);
$color-button-text-hover-primary:		$color-button-text-primary;

$color-button-bg-active-primary:		darken($color-button-bg-primary, 5%);
$color-button-border-active-primary:	darken($color-button-border-primary, 5%);
$color-button-text-active-primary:		$color-button-text-primary;

$color-button-bg-secondary:				transparent;
$color-button-border-secondary:			$color-primary;
$color-button-text-secondary:			$color-primary;

$color-button-bg-hover-secondary:		$color-primary;
$color-button-border-hover-secondary:	$color-button-border-secondary;
$color-button-text-hover-secondary:		#fff;

$color-button-bg-active-secondary:		$color-primary;
$color-button-border-active-secondary:	$color-button-border-secondary;
$color-button-text-active-secondary:	#fff;


// Special states

$color-success:							green;
$color-warning:							orange;
$color-alert:							red;