// --------------------------------------------------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------------------------------------------------


// Primary colour and tints

$color-primary-100:				#bbdefb;
$color-primary-300:				#64b5f6;
$color-primary-500:				#2196f3;
$color-primary-700:				#1976d2;
$color-primary-900:				#0d47a1;


// Secondary colour and tints

$color-secondary-100:			#cbe6c9;
$color-secondary-300:			#81c784;
$color-secondary-500:			#4caf50;
$color-secondary-700:			#388e3c;
$color-secondary-900:			#1b5e20;


// Grey colour and tints

$color-grey-100:				#f5f5f5;
$color-grey-300:				#e0e0e0;
$color-grey-500:				#9e9e9e;
$color-grey-700:				#616161;
$color-grey-900:				#212121;


// Special colours

$color-success:					#6fae3f;
$color-warning:					#f6ba04;
$color-alert:					#e91a1a;


// --------------------------------------------------------------------------------------------------------------------
