// --------------------------------------------------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------------------------------------------------


// Grey

$color-primary:						#838587;
$color-primary-xlight:				lighten($color-primary, 45%);
$color-primary-light:				lighten($color-primary, 30%);
$color-primary-dark:				darken($color-primary, 20%);

// Blue

$color-secondary:					#39a0e5;
$color-secondary-light:				lighten($color-secondary, 30%);
$color-secondary-dark:				darken($color-secondary, 15%);

$color-success:						#6fae3f;
$color-warning:						#f6ba04;
$color-alert:						#e91a1a;


// --------------------------------------------------------------------------------------------------------------------


$colors: (

// Background Colors

	background: (
		"base":						#fff,
		"dark":						$color-primary-dark,
		"light":					$color-primary-xlight,

		"html":						#fff,
		"body":						#fff,
		"masthead":					#fff,
		"footer":					$color-primary-dark
	),

// Text Colors

	text: (
		"base":						$color-primary-dark,
		"light":					$color-primary,
		"inverted":					#fff,

		"link":						$color-secondary,
		"link-hover":				$color-secondary-dark,
		"link-inverted":			$color-primary,
		"link-inverted-hover":		#fff,

		"marked":					$color-secondary-light,

		"success":					$color-success,
		"warning":					$color-warning,
		"alert":					$color-alert
	),

// Button Colors

	button: (
		"base":						$color-secondary,
		"base-hover":				$color-secondary-dark,
		"base-border":				$color-secondary,
		"base-border-hover":		$color-secondary-dark,
		"base-text":				#fff,
		"base-text-hover":			#fff,

		"secondary":				transparent,
		"secondary-hover":			transparent,
		"secondary-border":			$color-primary,
		"secondary-border-hover":	$color-secondary,
		"secondary-text":			$color-primary,
		"secondary-text-hover":		$color-secondary
	),

// Border Colors

	border: (
		"base":						$color-primary-light,
		"blockquote":				$color-secondary
	),

// Custom

	logo: (
		"base":						$color-secondary,
		"hover":					$color-secondary-dark
	)

) !default;