// --------------------------------------------------------------------------------------------------------------------
// Global Variables
// --------------------------------------------------------------------------------------------------------------------


$base-size:								16px;


// Gutter Widths

$gutter:								$base-size * 1.5;


// Spacings

$spacing--xxs:							$base-size / 8;		// 16px / 8   = 2px
$spacing--xs:							$base-size / 4;		// 16px / 4   = 4px
$spacing--s:							$base-size / 2;		// 16px / 2   = 8px
$spacing--m:							$base-size;			// 16px * 1   = 16px
$spacing--l:							$base-size * 1.5;	// 16px * 1.5 = 24px
$spacing--xl:							$base-size * 2;		// 16px * 2   = 32px
$spacing--xxl:							$base-size * 3;		// 16px * 3   = 48px
$spacing--xxxl:							$base-size * 4;		// 16px * 4   = 64px
$spacing--4xl:							$base-size * 5;		// 16px * 5   = 80px
$spacing--5xl:							$base-size * 6;		// 16px * 6   = 96px


// Screenwidths

$screenwidth--xxs:						320px;
$screenwidth--xs:						480px;
$screenwidth--s:						600px;
$screenwidth--m:						768px;
$screenwidth--l:						992px;
$screenwidth--xl:						1280px;
$screenwidth--xxl:						1440px;
$screenwidth--xxxl:						1600px;