@mixin transitionIn($property:all, $speed:$transition-timing-default, $ease:$transition-easing-default) {
  -ms-transition: $property $speed $ease;
  -webkit-transition: $property $speed $ease;
  transition: $property $speed $ease;
}

@mixin transitionOut($property:all, $speed:$transition-timing-default * 2, $ease:$transition-easing-default) {
  -ms-transition: $property $speed $ease;
  -webkit-transition: $property $speed $ease;
  transition: $property $speed $ease;
}