// --------------------------------------------------------------------------------------------------------------------
// Global Styles
// --------------------------------------------------------------------------------------------------------------------


$wrapper-width:					1280px;
$wide-wrapper-width:			1600px;
$global-spacing:				20px;
$grid-gutter:					20px;


// --------------------------------------------------------------------------------------------------------------------
// Font declarations
// --------------------------------------------------------------------------------------------------------------------


// Weights

$font-weight-normal:			400;
$font-weight-bold:				700;


// Font stacks

$font-stack-default:			Georgia, Times, "Times New Roman", serif;
$font-stack-alt:				"Neue Helvetica", Arial, Helvetica, sans-serif;
$font-stack-monospace:			Consolas, 'DejaVu Sans Mono', Courier, monospace;


// Sizes

/* Default */

$font-size-default:				1em;
$line-height-default:			1.5;

/* Smaller */

$font-size-xs:					$font-size-default * .75;
$font-size-s:					$font-size-default * .875;

/* Bigger */

$font-size-m:					$font-size-default * 1.25;
$font-size-l:					$font-size-default * 1.5;
$font-size-xl:					$font-size-default * 1.875;
$font-size-xxl:					$font-size-default * 2.25;


// --------------------------------------------------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------------------------------------------------


// Backgrounds

$background-color-default:		#fff;
$background-color-html:			#fff;
$background-color-body:			#fff;
$background-color-masthead:		#e1e2e3;
$background-color-footer:		#e1e2e3;


// Text

$text-color-default:			#313539;
$text-color-light:				rgba( $text-color-default, .6 );


// Links

$link-color-default:			#00f;
$link-color-hover-default:		$text-color-default;

$text-decoration-default:		none;
$text-decoration-alt:			underline;


// Buttons

$button-color-default:			#00f;
$button-color-hover-default:	#00f;

$button-color-alt:				#00f;
$button-color-hover-alt:		#00f;



// --------------------------------------------------------------------------------------------------------------------
// Breakpoints
// --------------------------------------------------------------------------------------------------------------------


$screenwidth-xs:				320px;
$screenwidth-s:					480px;
$screenwidth-m:					600px;
$screenwidth-l:					768px;
$screenwidth-xl:				992px;
$screenwidth-xxl:				1280px;


// --------------------------------------------------------------------------------------------------------------------
// Misc
// --------------------------------------------------------------------------------------------------------------------

