.mainnav {

	ul {
	}

	li {
	}

	a {
	}

	a:hover {
	}

	a:active {
	}
}

.mainnav .inner {
}


// Styles for viewport > 480 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-s) {
}


// Styles for viewport > 600 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-m) {
}


// Styles for viewport > 768 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-l) {
}


// Styles for viewport > 992 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-xl) {
}


// Styles for viewport > 1280 px --------------------------------------------- //

@media only screen and (min-width: $screenwidth-xxl) {
}


// Styles for Retina / High DPI Styles --------------------------------------- //

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
}

// Print Styles -------------------------------------------------------------- //

@media print {
}