* {
	box-sizing:border-box;
	&:before,&:after {
		box-sizing: inherit;
	}
}

html {
	background-color: $background-color--html;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
	text-size-adjust: 100%;
}

body {
	background: $background-color--body;
	height: 100%;
	font-weight: $font-weight--normal;
	font-family: $font-family--serif;
	@include fontsize(m);
	text-align: left;
	text-align: optical left;
	color: $text-color--default;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.wrap {
	position: relative;
	width: 100%;

	&--with-gutter {
		padding-right: $spacing--m;
		padding-left: $spacing--m;
		
		@include mq-s {
			padding-right: $spacing--l;
			padding-left: $spacing--l;
		}
		
		@include mq-m {
			padding-right: $spacing--xl;
			padding-left: $spacing--xl;
		}
		
		@include mq-l {
			padding-right: $spacing--xxl;
			padding-left: $spacing--xxl;
		}
		
		@include mq-xl {
			padding-right: $spacing--xxxl;
			padding-left: $spacing--xxxl;
		}
		
		@include mq-xxl {
			padding-right: $spacing--4xl;
			padding-left: $spacing--4xl;
		}
	}

}