@import 'vendors/normalize';

* {
	box-sizing:border-box;

	&:before,&:after {
		box-sizing: inherit;
	}

}

html {
	background: #fff;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #fff;
	height: 100%;
}

.wrap {
	position: relative;
	width: 100%;

	&--guttered {
		padding-right: $gutter;
		padding-left: $gutter;

		&--s {
			padding-right: $gutter--s;
			padding-left: $gutter--s;
		}

		&--l {
			padding-right: $gutter--l;
			padding-left: $gutter--l;
		}

	}

}