* {
	box-sizing:border-box;
	&:before,&:after {
		box-sizing: inherit;
	}
}

html {
	background-color: white;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
	text-size-adjust: 100%;
}

body {
	background: #fff;
	height: 100%;
	font-weight: $font-weight--normal;
	font-family: $font-family--serif;
	@include fontsize(m);
	text-align: left;
	color: $color--text;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.wrap {
	position: relative;
	width: 100%;
	&--guttered {
		padding-right: $gutter;
		padding-left: $gutter;
	}
	&--guttered--s {
		padding-right: $gutter--s;
		padding-left: $gutter--s;
	}
	&--guttered--l {
		padding-right: $gutter--l;
		padding-left: $gutter--l;
	}
}