.card {
	background: #fff;
	border-radius: $global-border-radius;
	overflow: hidden;
	box-shadow: $global-box-shadow;
	border: none;

	& .card__inner {
		padding: $spacing--m;

		& :last-child {
			margin-bottom: 0;
		}

	}
}