.content {
	background: getColor(background, light);
	padding: $spacing-m 0;

	header {
		position: relative;
		margin-top: $spacing-xl;
		margin-bottom: $spacing-xxl;
		h2 + h3 {
			font-weight: normal;
			margin-top: -$global-spacing;
		}
	}

}