.content {
	padding: $spacing--xxl 0;
	
	@include mq-l {
		padding: 4.8vw 0;
	}	

	header {
		overflow: hidden;
	}

	&--alt {
		background: rgba($color--primary,.1);
	}

}

/* DEMO */

.grid--demo .grid__cell__content {
	background: #fff;
	padding: 32px 2px;

	p {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: center;
		margin: 0;
		padding: 0;
	}
}