.expandable {

	position: relative;
	max-height: 200px;
	overflow: hidden;

	&:before {
		content: "";
		@include gradient(vert,transparent,$background-content-secondary);
		position: absolute;
		width: 100%;
		height: 150px;
		bottom: 50px;
		left: 0;
	}

	&:after {
		content: "";
		background: $background-content-secondary;
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0;
		left: 0;
	}

	& .show-more {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	&.expanded {
		max-height: none;

		&:before,
		&:after {
			display: none;
		}
	}

}


// Styles for viewport > 480 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-s) {
}


// Styles for viewport > 600 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-m) {
}


// Styles for viewport > 768 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-l) {
}


// Styles for viewport > 992 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-xl) {
}


// Styles for viewport > 1280 px --------------------------------------------- //

@media only screen and (min-width: $screenwidth-xxl) {
}


// Styles for Retina / High DPI Styles --------------------------------------- //

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
}

// Print Styles -------------------------------------------------------------- //

@media print {
}