footer[role=contentinfo] {
	background: $color-footer-bg;
	color: $color-footer-bg;
	padding: $spacing--xxl 0;

	a {
		color: $color-footer-link;

		&:hover {
			color: $color-footer-link-hover;

		}
	}
}