footer[role=contentinfo] {
	background: getColor(background, footer);
	color: getColor(text, inverted);
	padding: $spacing-xxl 0;

	a {
		color: getColor(text, link-inverted);

		&:hover {
			color: getColor(text, link-inverted-hover);

		}
	}
}