form {
	margin: 0 0 $spacing--m;
}

fieldset {
	min-width: 0;
	border: 0 none;
	margin: 0;
	padding: 0;
}

fieldset > div {
    font-size: 0;
	margin: 0 0 $spacing--m;
}

fieldset > div > input, fieldset > div > select, fieldset > div > textarea {
	@include fontsize(m);
}

label {
	cursor: pointer;
}

label, .label {
	font-family: $font-family-sans-serif;
	@include fontsize(m);

	&--checkbox,
	&--radio {
		font-weight: $font-weight-normal;
		text-indent: -23px;
		display: inline-block;
		margin: 0;
		padding-left: 24px;
	    margin-right: $gutter !important;
	}

	@include mq-l {
		&--autowidth {
			text-align: left !important;
	    	width: auto !important;
	    	padding-right: 0 !important;
		}
	}
}

input, select, textarea {
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	vertical-align: baseline;
}

input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=time], input[type=number], input[type=file], textarea {
	background: #fff;
	display: block;
	width: 100%;
	min-height: 2.75em;
	border: 1px solid $color-grey-500;
	margin: 0;
	padding: $spacing--s;
	border-radius: 0;
	-webkit-appearance: none;
}

input[type=checkbox], input[type=radio] {
	position: relative;
	top: -1px;
	margin-right: $spacing--xs;
}

input[type=file] {
	background: transparent !important;
	border: 0 none;
	padding: 0;
}

select {
	width: 100%;
	cursor: pointer;
}

textarea {
	height: auto;
	min-height: 100px;
	vertical-align: top;
}

::-webkit-input-placeholder {
	color: getColor(text, light);
}

::-moz-placeholder {
	color: getColor(text, light);
}

:-ms-input-placeholder {
	color: getColor(text, light);
}

.flexform {

	& label, & .label {

		@include mq-l {
			display: inline-block;
			width: 33.3334%;
		}

		@include mq-xl {
			text-align: right;
			padding-right: $gutter;
		}

	}

	& input[type=text], & input[type=password], & input[type=search], & input[type=email], & input[type=url], & input[type=tel], & input[type=date], & input[type=time], & input[type=number], & input[type=file], & textarea, & select {

		@include mq-l {
		    display: inline-block;
			width: 66.6667%;
		}

		& + span {
			display: inline-block;
			margin-top: $spacing--xs;

			@include mq-l {
				margin-left: 33.3334%;
			}
		}
	}

	& .inputs {
		width: 100%;

		& span {
			display: block;
		}

		@include mq-l {
		    display: inline-block;
		    width: 66.6667%;
		    vertical-align: top;

			& span {
				margin-left: 0;
			}
		}
	}

	& .btn {
		@include mq-l {
		    margin-left: 33.3334%;
		   }
	}

}

/* Normalize Fix */

input[type=search] {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* WebKit Fix */

[placeholder]:focus::-webkit-input-placeholder {
	color: transparent;
}