// --------------------------------------------------------------------------------------------------------------------
// Global Variables
// --------------------------------------------------------------------------------------------------------------------


$base-size:						16px;


// Colors

$colors: (

	primary: (
		"base":					#369,
		"light":				#69c,
		"dark":					#036
	),

	secondary: (
		"base":					#737577,
		"light":				#a1a5a9,
		"dark":					#333537
	),

	text: (
		"base":					#333537,
		"light":				#737577,
		"inverted":				#fff,

		"link":					#369,
		"link-hover":			#036,
		"link-inverted":		#a3a5a7,
		"link-inverted-hover":	#fff,

		"marked":				#ffe500
	),

	background: (
		"base":					#fff,
		"dark":					#333537,
		"light":				#e9ebed,

		"html":					#fff,
		"body":					#fff,
		"footer":				#333537
	),

	button: (
		"base":					#a3a5a7,
		"base-hover":			#737577,

		"primary":				#369,
		"primary-hover":		#036,

		"secondary":			#737573,
		"secondary-hover":		#333537
	),

	border: (
		"base":					#a3a5a7,
		"blockquote":			#369
	)

) !default;


// Spacings

$spacing-xxs:					$base-size / 8;		// 16px / 8   = 2px
$spacing-xs:					$base-size / 4;		// 16px / 4   = 4px
$spacing-s:						$base-size / 2;		// 16px / 2   = 8px
$spacing-m:						$base-size;			// 16px * 1   = 16px
$spacing-l:						$base-size * 1.5;	// 16px * 1.5 = 24px
$spacing-xl:					$base-size * 2;		// 16px * 2   = 32px
$spacing-xxl:					$base-size * 3;		// 16px * 2   = 48px
$spacing-xxxl:					$base-size * 4;		// 16px * 2   = 64px


// Gutter Widths

$gutter-s:						$spacing-s;
$gutter:						$spacing-m;
$gutter-l:						$spacing-l;


// Global Styles and Dimensions

$global-border-radius:			2px;
$global-box-shadow:				none;
$global-spacing:				$spacing-m;


// Transistion Properties

$transition-timing-default:		150ms;
$transition-easing-default:		ease-in-out;


// Screenwidths

$screenwidth-xs:				320px;				// Smartphone
$screenwidth-s:					480px;				// Smartphone, landscape
$screenwidth-m:					600px;				// Phablet
$screenwidth-l:					768px;				// Tablet
$screenwidth-xl:				992px;				// Laptop
$screenwidth-xxl:				1280px;				// Screen
$screenwidth-xxxl:				1600px;				// Big screen

