$cellConfig:

'12' 	100%,
'11' 	91.6667%,
'10'	83.3334%,
'9' 	75%,
'8' 	66.6667%,
'7' 	58.3334%,
'6' 	50%,
'5' 	41.6667%,
'4' 	33.3334%,
'3' 	25%,
'2' 	16.6667%,
'1' 	8.3334%;


.grid {
	display: flex;
    flex-wrap: wrap;
	flex: 0 1 auto;
    flex-direction: row;

	.grid__cell {
		width: 100%;
		flex: 0 0 auto;

		@include mq-xxs {
			@each $width in $cellConfig {
				&--xxs-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&-offset-right--xxs-#{nth($width, 1)} {
					margin-right: nth($width, 2);
				};

				&-offset-left--xxs-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
			&-offset-left--xxs-0 {
				margin-left: 0
			}
		}

		@include mq-xs {
			@each $width in $cellConfig {
				&--xs-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&-offset-right--xs-#{nth($width, 1)} {
					margin-right: nth($width, 2);
				};

				&-offset-left--xs-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
			&-offset-left--xs-0 {
				margin-left: 0
			}
		}

		@include mq-s {
			@each $width in $cellConfig {
				&--s-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&-offset-right--s-#{nth($width, 1)} {
					margin-right: nth($width, 2);
				};

				&-offset-left--s-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
			&-offset-left--s-0 {
				margin-left: 0
			}
		}

		@include mq-m {
			@each $width in $cellConfig {
				&--m-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&-offset-right--m-#{nth($width, 1)} {
					margin-right: nth($width, 2);
				};

				&-offset-left--m-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
			&-offset-left--m-0 {
				margin-left: 0
			}
		}

		@include mq-l {
			@each $width in $cellConfig {
				&--l-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&-offset-right--l-#{nth($width, 1)} {
					margin-right: nth($width, 2);
				};

				&-offset-left--l-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
			&-offset-left--l-0 {
				margin-left: 0
			}
		}

		@include mq-xl {
			@each $width in $cellConfig {
				&--xl-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&-offset-right--xl-#{nth($width, 1)} {
					margin-right: nth($width, 2);
				};

				&-offset-left--xl-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
			&-offset-left--xl-0 {
				margin-left: 0
			}
		}

		@include mq-xxl {
			@each $width in $cellConfig {
				&--xxl-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&-offset-right--xxl-#{nth($width, 1)} {
					margin-right: nth($width, 2);
				};

				&-offset-left--xxl-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
			&-offset-left--xxl-0 {
				margin-left: 0
			}
		}

	}

	&--with-gutter {
		margin-right: calc($spacing--s / 2) * -1;
		margin-left: calc($spacing--s / 2) * -1;
		margin-bottom: -$spacing--s;

		& .grid__cell {
			padding: 0 calc($spacing--s / 2);
			margin-bottom: $spacing--s;
		}

		& + .grid {
			margin-top: $spacing--s;
		}
		
		@include mq-s {
		
			margin-right: calc($spacing--m / 2) * -1;
			margin-left: calc($spacing--m / 2) * -1;
			margin-bottom: -$spacing--m;
		
			& .grid__cell {
				padding: 0 calc($spacing--m / 2);
				margin-bottom: $spacing--m;
			}
		
			& + .grid {
				margin-top: $spacing--m;
			}
		}
		
		@include mq-m {
		
			margin-right: calc($spacing--l / 2) * -1;
			margin-left: calc($spacing--l / 2) * -1;
			margin-bottom: -$spacing--l;
		
			& .grid__cell {
				padding: 0 calc($spacing--l / 2);
				margin-bottom: $spacing--l;
			}
		
			& + .grid {
				margin-top: $spacing--l;
			}
		}
		
		@include mq-l {
			margin-right: calc($spacing--xl / 2) * -1;
			margin-left: calc($spacing--xl / 2) * -1;
			margin-bottom: -$spacing--xl;
			
			& .grid__cell {
				padding: 0 calc($spacing--xl / 2);
				margin-bottom: $spacing--xl;
			}
			
			& + .grid {
				margin-top: $spacing--xl;
			}
		}
		
		@include mq-xl {
			margin-right: calc($spacing--xxl / 2) * -1;
			margin-left: calc($spacing--xxl / 2) * -1;
			margin-bottom: -$spacing--xxl;
			
			& .grid__cell {
				padding: 0 calc($spacing--xxl / 2);
				margin-bottom: $spacing--xxl;
			}
			
			& + .grid {
				margin-top: $spacing--xxl;
			}
		}
		
		@include mq-xxl {
			margin-right: calc($spacing--xxxl / 2) * -1;
			margin-left: calc($spacing--xxxl / 2) * -1;
			margin-bottom: -$spacing--xxxl;
			
			& .grid__cell {
				padding: 0 calc($spacing--xxxl / 2);
				margin-bottom: $spacing--xxxl;
			}
			
			& + .grid {
				margin-top: $spacing--xxxl;
			}
		}
		
		
		
		&--xs {
			margin-right: calc($spacing--xs / 4) * -1;
			margin-left: calc($spacing--xs / 4) * -1;
			margin-bottom: -$spacing--xs;
			
			& .grid__cell {
				padding: 0 calc($spacing--xs / 2);
				margin-bottom: $spacing--xs;
			}
			
			& + .grid {
				margin-top: $spacing--xs;
			}
			
		}
		
		&--s {
			margin-right: calc($spacing--s / 2) * -1;
			margin-left: calc($spacing--s / 2) * -1;
			margin-bottom: -$spacing--s;
			
			& .grid__cell {
				padding: 0 calc($spacing--s / 2);
				margin-bottom: $spacing--s;
			}
			
			& + .grid {
				margin-top: $spacing--s;
			}
			
		}
		
		&--m {
			margin-right: calc($spacing--m / 2) * -1;
			margin-left: calc($spacing--m / 2) * -1;
			margin-bottom: -$spacing--m;
			
			& .grid__cell {
				padding: 0 calc($spacing--m / 2);
				margin-bottom: $spacing--m;
			}
			
			& + .grid {
				margin-top: $spacing--m;
			}
			
		}
		
		&--l {
			margin-right: calc($spacing--l / 2) * -1;
			margin-left: calc($spacing--l / 2) * -1;
			margin-bottom: -$spacing--l;
			
			& .grid__cell {
				padding: 0 calc($spacing--l / 2);
				margin-bottom: $spacing--l;
			}
			
			& + .grid {
				margin-top: $spacing--l;
			}
			
		}
		
		&--xl {
			margin-right: calc($spacing--xl / 2) * -1;
			margin-left: calc($spacing--xl / 2) * -1;
			margin-bottom: -$spacing--xl;
			
			& .grid__cell {
				padding: 0 calc($spacing--xl / 2);
				margin-bottom: $spacing--xl;
			}
			
			& + .grid {
				margin-top: $spacing--xl;
			}
			
		}
	}
}