$cellConfig: 
	'1-1' 100%,
	'4-5' 80%,
	'3-4' 75%,
	'2-3' 66.6667%,
	'3-5' 60%,
	'1-2' 50%,
	'2-5' 40%,
	'1-3' 33.3334%,
	'1-4' 25%,
	'1-5' 20%,
	'1-6' 16.66667%;

.grid {
	font-size: 0;
	text-justify: distribute-all-lines;

	&__cell {
		@include fontsize();
		display: inline-block;
		width: 100%;
		vertical-align: top;

		@each $width in $cellConfig {
			&--mobile-#{nth($width, 1)} { width: nth($width, 2) };
			&-offset--mobile-#{nth($width, 1)} { margin-left: nth($width, 2) };
		}

		@include mq-mobile-l {
			@each $width in $cellConfig {
				&--mobile-l-#{nth($width, 1)} { width: nth($width, 2) };
				&-offset--mobile-l-#{nth($width, 1)} { margin-left: nth($width, 2) };
			}
		}

		@include mq-phablet {
			@each $width in $cellConfig {
				&--phablet-#{nth($width, 1)} { width: nth($width, 2) };
				&-offset--phablet-#{nth($width, 1)} { margin-left: nth($width, 2) };
			}
		}

		@include mq-tablet {
			@each $width in $cellConfig {
				&--tablet-#{nth($width, 1)} { width: nth($width, 2) };
				&-offset--tablet-#{nth($width, 1)} { margin-left: nth($width, 2) };
			}
		}

		@include mq-laptop {
			@each $width in $cellConfig {
				&--laptop-#{nth($width, 1)} { width: nth($width, 2) };
				&-offset--laptop-#{nth($width, 1)} { margin-left: nth($width, 2) };
			}
		}

		@include mq-screen {
			@each $width in $cellConfig {
				&--screen-#{nth($width, 1)} { width: nth($width, 2) };
				&-offset--screen-#{nth($width, 1)} { margin-left: nth($width, 2) };
			}
		}

		@include mq-big-screen {
			@each $width in $cellConfig {
				&--big-screen-#{nth($width, 1)} { width: nth($width, 2) };
				&-offset--big-screen-#{nth($width, 1)} { margin-left: nth($width, 2) };
			}
		}

		@include mq-huge-screen {
			@each $width in $cellConfig {
				&--huge-screen-#{nth($width, 1)} { width: nth($width, 2) };
				&-offset--huge-screen-#{nth($width, 1)} { margin-left: nth($width, 2) };
			}
		}
	}

	&--guttered {
		margin-right: ($gutter / 2) * -1;
		margin-left: ($gutter / 2) * -1;
		margin-bottom: -$gutter;

		& .grid__cell {
			padding: 0 $gutter / 2;
			margin-bottom: $gutter;
		}
	}
}