$cellConfig:

	'12' 	100%,
	'11' 	91.6667%,
	'10'	83.3334%,
	 '9' 	75%,
	 '8' 	66.6667%,
	 '7' 	58.3334%,
	 '6' 	50%,
	 '5' 	41.6667%,
	 '4' 	33.3334%,
	 '3' 	25%,
	 '2' 	16.6667%,
	 '1' 	8.3334%;


.grid {
	display: flex;
    flex-wrap: wrap;
	flex: 0 1 auto;
    flex-direction: row;

	.grid__cell {
		width: 100%;
		flex: 0 0 auto;

		@include mq-xxs {
			@each $width in $cellConfig {
				&--xxs-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--xxs-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}

		@include mq-xs {
			@each $width in $cellConfig {
				&--xs-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--xs-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}

		@include mq-s {
			@each $width in $cellConfig {
				&--s-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--s-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}

		@include mq-m {
			@each $width in $cellConfig {
				&--m-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--m-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}

		@include mq-l {
			@each $width in $cellConfig {
				&--l-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--l-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}

		@include mq-xl {
			@each $width in $cellConfig {
				&--xl-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--xl-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}

		@include mq-xxl {
			@each $width in $cellConfig {
				&--xxl-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--xxl-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}

		@include mq-xxxl {
			@each $width in $cellConfig {
				&--xxxl-#{nth($width, 1)} {
					flex-basis: nth($width, 2);
					max-width: nth($width, 2);
				};

				&--offset--xxxl-#{nth($width, 1)} {
					margin-left: nth($width, 2);
				};
			}
		}
	}

	&--guttered {
		margin-right: ($gutter / 2) * -1;
		margin-left: ($gutter / 2) * -1;
		margin-bottom: -$gutter;

		& .grid__cell {
			padding: 0 $gutter / 2;
			margin-bottom: $gutter;
		}

		& + .grid {
			margin-top: $gutter;
		}
	}

	.grid--guttered--s {
		margin-right: ($gutter--s / 2) * -1;
		margin-left: ($gutter--s / 2) * -1;
		margin-bottom: -$gutter--s;

		& .grid__cell {
			padding: 0 $gutter--s / 2;
			margin-bottom: $gutter--s;
		}

		& + .grid {
			margin-top: $gutter--s;
		}

	}

	.grid--guttered--l {
		margin-right: ($gutter--l / 2) * -1;
		margin-left: ($gutter--l / 2) * -1;
		margin-bottom: -$gutter--l;

		& .grid__cell {
			padding: 0 $gutter--l / 2;
			margin-bottom: $gutter--l;
		}

		& + .grid {
			margin-top: $gutter--l;
		}

	}
}