.masthead {
	background: getColor(background, masthead);
	text-align: center;
	padding: $spacing-l 0;
}

svg.logo {
	max-width: 100%;
	height: auto;

	& path {
		fill: getColor(logo);
		@include transitionOut();
	}

	&:hover path {
		fill: getColor(logo, hover);
		@include transitionIn();
	}
}