.masthead {
	text-align: center;
	padding: $spacing--l 0;
}

svg.logo {
	max-width: 100%;
	height: auto;

	& path {
		fill: $color-primary-500;
		@include transitionOut();
	}

	&:hover path {
		fill: $color-primary-700;
		@include transitionIn();
	}
}