img {
	-ms-interpolation-mode: bicubic;
}

img, object, embed {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	width: auto;
	width: auto\9; /* IE Fix */
	height: auto;
}

figure, audio, video {
	margin: 0;
}

.mediabox {
	position: relative;
	height: 0;
	padding-top: 100%;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&--4-3 {
		padding-top: 75%;
	}

	&--3-2 {
		padding-top: 66.6667%;
	}

	&--16-9 {
		padding-top: 56.25%;
	}

	&--2-1 {
		padding-top: 50%;
	}
}

// Disable max-width for Google Map images

#map_canvas, .map_canvas, .mqa-display {
	img, embed, object {
		max-width: none !important;
	}
}
