img {
	-ms-interpolation-mode: bicubic;
	image-rendering: -webkit-optimize-contrast;
}

img, object, embed, svg {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	width: auto;
	width: auto\9; /* IE Fix */
	height: auto;
}

figure, audio, video {
	margin: 0;
}

.mediabox {
	overflow: hidden;
	position: relative;
	height: 0;
	margin-bottom: $spacing--m;
	padding-top: 100%;

	img, iframe, object, embed {
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		transform: translateY(-50%);
	}

	iframe, object, embed {
		width: 100%;
		height: 100%;
	}

	&--4-3 {
		padding-top: 75%;
	}

	&--3-2 {
		padding-top: 66.6667%;
	}

	&--16-9 {
		padding-top: 56.25%;
	}

	&--2-1 {
		padding-top: 50%;
	}

	&--3-1 {
		padding-top: 33.3334%;
	}
}

// Disable max-width for Google Map images

#map_canvas, .map_canvas, .mqa-display {
	img, embed, object {
		max-width: none !important;
	}
}
