table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	vertical-align: top;
	margin: 0 0 $spacing--m;
}

colgroup {

}

th, td {
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid $color--border;
	padding: $spacing--m $spacing--s;
}

thead th {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
}

tbody th {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	padding-left: 0;
}

tbody td {
}

tbody td[colspan] {
	text-align: center;
}

tfoot td {
}


// ReCaptcha fix

table#recaptcha_table, table.table-auto {
	table-layout: auto;
}


/* Responsive Table Wrapper */

.flex-table {
	overflow-x: auto;
	background-color: #fff;
	background-image: -webkit-linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  -webkit-linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  -webkit-linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  -webkit-linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-image: -moz-linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  -moz-linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  -moz-linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  -moz-linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-image: -o-linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  -o-linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  -o-linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  -o-linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-image: linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-position: 0 0, 100% 0, 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 5em 100%, 5em 100%, .2em 100%, .2em 100%;
	background-attachment: local, local, scroll, scroll;
	margin: $spacing--m 0;
}

.flex-table table {
	margin: 0;
}