table {
	width: 100%;
	max-width: 100%;
	vertical-align: top;
	margin: 0 0 $global-spacing;
}

colgroup {
	border: 1px solid getColor(border);
}

th, td {
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid getColor(border);
	padding: $spacing-s;
}

thead th {
	font-weight: $font-weight-bold;
}

tbody th {
	font-weight: $font-weight-bold;
}

tbody td {
}

tbody td[colspan] {
	text-align: center;
}

tfoot td {
}


/* Responsive Table Wrapper */

.flex-table {
	overflow-x: auto;
	background-color: #fff;
	background-image: -webkit-linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  -webkit-linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  -webkit-linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  -webkit-linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-image: -moz-linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  -moz-linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  -moz-linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  -moz-linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-image: -o-linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  -o-linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  -o-linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  -o-linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-image: linear-gradient(left,  #fff,  rgba(255, 255, 255, 0)),  linear-gradient(right,  #fff,  rgba(255, 255, 255, 0)),  linear-gradient(left,  #c3c3c3,  rgba(195, 195, 195, 0)),  linear-gradient(right,  #c3c3c3,  rgba(195, 195, 195, 0));
	background-position: 0 0, 100% 0, 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 5em 100%, 5em 100%, .5em 100%, .5em 100%;
	background-attachment: local, local, scroll, scroll;
	margin: $global-spacing 0;
}

.flex-table table {
	margin: 0;
}

// Set table-layout to auto for ReCaptcha

table#recaptcha_table,
table.table-auto {
	table-layout: auto;
}


// Styles for viewport > 480 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-s) {
}


// Styles for viewport > 600 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-m) {
}


// Styles for viewport > 768 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-l) {
}


// Styles for viewport > 992 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-xl) {
}


// Styles for viewport > 1280 px --------------------------------------------- //

@media only screen and (min-width: $screenwidth-xxl) {
}


// Styles for Retina / High DPI Styles --------------------------------------- //

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
}

// Print Styles -------------------------------------------------------------- //

@media print {
}