html {
	font-weight: $font-weight--normal;
	font-family: $font-family--serif;
	@include fontsize(m);
	text-align: left;
	color: $color--text;
}


// Headings and paragraph

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: $spacing--xl 0 $spacing--m;

	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(xxl);

	@include mq-s {
		@include fontsize(xxxl);
	}

	@include mq-m {
		@include fontsize(4xl);
	}

	@include mq-l {
		@include fontsize(5xl);
	}
}

h2, .h2 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(xl);

	@include mq-s {
		@include fontsize(xxl);
	}

	@include mq-m {
		@include fontsize(xxxl);
	}

	@include mq-l {
		@include fontsize(4xl);
	}
}

h3, .h3 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(l);

	@include mq-s {
		@include fontsize(xl);
	}

	@include mq-m {
		@include fontsize(xxl);
	}

	@include mq-l {
		@include fontsize(xxxl);
	}
}

h4, .h4 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(m);

	@include mq-s {
		@include fontsize(l);
	}

	@include mq-m {
		@include fontsize(xl);
	}

	@include mq-l {
		@include fontsize(xxl);
	}
}

h5, .h5 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(m);

	@include mq-m {
		@include fontsize(l);
	}

	@include mq-l {
		@include fontsize(xl);
	}
}

h6, .h6 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(m);
}

p,
ul,
ol,
dl {
	margin: $spacing--m 0;

	&:first-child {
		margin-top: 0;
	}
}

p {
	
}


// Links

a {
	color: $color--link;
	text-decoration: underline;

	&:hover, &:focus, &:active {
		color: darken($color--link, 20%);
		text-decoration: underline;
	}
}


// Lists

ul, ol {
	padding-left: $spacing--l;

	& &:first-child {
		margin: $spacing--m 0;
	}

}

ul {
	list-style: square outside;
}

ol {
	list-style: decimal outside;
}

nav ul, nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

dl {
	
}

dt {
	font-weight: $font-weight--bold;
	margin: 0;
}

dd {
	margin: 0 0 $spacing--m;
}


// General text formatting

small {
	@include fontsize(s);
}

b, strong {
	font-weight: $font-weight--bold;
}

em, i {
	font-style: italic;
}

del, s, strike {
	text-decoration: line-through;
}

code, kbd, pre, samp {
	font-family: $font-family--mono;
	@include fontsize(xs);
	white-space: pre-line;
	white-space: pre-wrap;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0 0 $spacing--m;
}

adress {
	font-style: italic;
	margin: 0 0 $spacing--m;
}

mark {
	background: yellow;
	border-radius: 2px;
	padding: $spacing--xxs $spacing--xs;
}

blockquote {
	font-style: italic;
	border-left: 3px solid $color--border;
	margin: $spacing--xl 0;
	padding: $gutter;

	&:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

}

cite {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0 none;
	border-top: 1px solid $color--border;
	margin: $spacing--l 0;

	@include mq-s {
		margin: $spacing--xl 0;
	}

	@include mq-m {
		margin: $spacing--xxl 0;
	}
}


// Text Styles


.font-size--xxs {
	@include fontsize(xxs);
}

.font-size--xs {
	@include fontsize(xs);
}

.font-size--s {
	@include fontsize(s);
}

.font-size--m {
	@include fontsize(m);
}

.font-size--l {
	@include fontsize(l);
}

.font-size--xl {
	@include fontsize(xl);
}

.font-size--xxl {
	@include fontsize(xxl);
}

.font-size--xxxl {
	@include fontsize(xxxl);
}

.font-size--4xl {
	@include fontsize(4xl);
}

.font-size--5xl {
	@include fontsize(5xl);
}

.text--small {
	@extend small;
}

.text--big {
	@include mq-s {
		@include fontsize(l);
	}
	@include mq-m {
		@include fontsize(xl);
	}
}

.text--serif {
	font-family: $font-family--serif;
}

.text--sans-serif {
	font-family: $font-family--sans-serif;
}

.text--light {
	color: rgba($color--text, .5);
}

.text--regular {
	font-weight: $font-weight--normal;
}

.text--bold {
	font-weight: $font-weight--bold;
}

.text--spaced {
	letter-spacing: 3px;
}

.text--caps {
	text-transform: uppercase;
}

.text--truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text--tag {
	margin-left: $spacing--xs;
	padding: $spacing--xxs $spacing--xs;
	border: 2px $color--primary solid;
	border-radius: $spacing--xs;
	position: relative;
}