html {
	font-weight: $font-weight--normal;
	font-family: $font-family--serif;
	@include fontsize(m);
	text-align: left;
	color: $text-color--default;
}


// Headings and paragraph

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.heading--overline {
	margin: $spacing--xl 0 $spacing--m;

	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(xxxl);

	@include mq-s {
		@include fontsize(4xl);
	}

	@include mq-m {
		@include fontsize(5xl);
	}

	@include mq-l {
		@include fontsize(6xl);
	}
}

h2, .h2 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(xxl);

	@include mq-s {
		@include fontsize(xxxl);
	}

	@include mq-m {
		@include fontsize(4xl);
	}

	@include mq-l {
		@include fontsize(5xl);
	}
}

h3, .h3 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(xl);

	@include mq-s {
		@include fontsize(xxl);
	}

	@include mq-m {
		@include fontsize(xxxl);
	}

	@include mq-l {
		@include fontsize(4xl);
	}
}

h4, .h4 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(l);

	@include mq-s {
		@include fontsize(xl);
	}

	@include mq-m {
		@include fontsize(xxl);
	}

	@include mq-l {
		@include fontsize(xxxl);
	}
}

h5, .h5 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(m);

	@include mq-m {
		@include fontsize(l);
	}

	@include mq-l {
		@include fontsize(xl);
	}
}

h6, .h6 {
	font-weight: $font-weight--bold;
	font-family: $font-family--sans-serif;
	@include fontsize(m);
}

.heading--overline {
	font-family: $font-family--sans-serif;
	@include fontsize(s);
	font-weight: $font-weight--bold;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin-bottom: $spacing--xxs;

	& + * {
		margin-top: 0;
	}
}

p,
ul,
ol,
dl {
	margin: $spacing--m 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	
}


// Links

a {
	color: $text-color--link;
	text-decoration: underline;

	&:hover, &:focus, &:active {
		color: darken($text-color--link, 20%);
		text-decoration: underline;
	}
}


// Lists

ul, ol {
	padding-left: $spacing--l;
	
	& &:first-child {
		margin: $spacing--m 0;
	}

}

ul {
	list-style: square outside;
}

ol {
	list-style: decimal outside;
}

ol.ol--custom {
	counter-reset: ol--custom-counter;
	list-style: none;
	margin-top: $spacing--s;
	padding-left: 40px;

	li {
		counter-increment: ol--custom-counter;
		position: relative;
		margin: 0 0 $spacing--l;

		&::before {
			content: counter(ol--custom-counter);

			background: $color--primary;

			// font-family: $font-family--sans-serif;
			font-weight: $font-weight--bold;
			// font-size: $font-size--xl;
			line-height: 23px;
			color: $text-color--inverted;
			text-align: center;

			width: 28px;
			height: 28px;

			position: absolute;
			left: -40px;
			top: -2px;

			border: 2px solid $border-color--default;
			border-radius: 50%;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

nav ul, nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

dl {

	dt {
		font-weight: $font-weight--normal;
		// color: $text-color--light;
		margin: 0;
	}

	dd {
		font-weight: $font-weight--bold;
		margin: 0;
	}
	
	&.dl--l {
		
		dd {
			@include fontsize(4xl);
		}
		
	}

}


// General text formatting

small {
	@include fontsize(s);
}

b, strong {
	font-weight: $font-weight--bold;
}

em, i {
	font-style: italic;
}

del, s, strike {
	text-decoration: line-through;
}

code, kbd, pre, samp {
	font-family: $font-family--mono;
	// @include fontsize(xs);
	white-space: pre-line;
	white-space: pre-wrap;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0 0 $spacing--m;
}

adress {
	font-style: italic;
	margin: 0 0 $spacing--m;
}

mark {
	background: $color--secondary;
	padding: 0 $spacing--xxxs;
}

blockquote {
	font-style: italic;
	border-left: 3px solid $border-color--default;
	margin: $spacing--xl 0;
	padding: $spacing--m;

	&:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

}

cite {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0 none;
	border-top: $border-width--default solid $border-color--default;
	margin: $spacing--l 0;

	@include mq-s {
		margin: $spacing--xl 0;
	}

	@include mq-m {
		margin: $spacing--xxl 0;
	}
}


// Text Styles


.font-size--10 {
	@include fontsize(xxs);
}

.font-size--12 {
	@include fontsize(xs);
}

.font-size--14 {
	@include fontsize(s);
}

.font-size--16 {
	@include fontsize(m);
}

.font-size--20 {
	@include fontsize(l);
}

.font-size--24 {
	@include fontsize(xl);
}

.font-size--32 {
	@include fontsize(xxl);
}

.font-size--40 {
	@include fontsize(xxxl);
}

.font-size--48 {
	@include fontsize(4xl);
}

.font-size--64 {
	@include fontsize(5xl);
}

.font-size--80 {
	@include fontsize(6xl);
}

.text--small {
	@extend small;
}

.text--big {
	@include fontsize(l);

	@include mq-l {
		@include fontsize(xl);
	}
}

.text--serif {
	font-family: $font-family--serif;
}

.text--sans-serif {
	font-family: $font-family--sans-serif;
}

.text--light {
	color: $text-color--light;
}

.text--regular {
	font-weight: $font-weight--normal;
}

.text--bold {
	font-weight: $font-weight--bold;
}

.text--spaced {
	letter-spacing: 3px;
}

.text--caps {
	text-transform: uppercase;
}

.text--truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text--tag {
	font-weight: $font-weight--bold;
	font-size: $font-size--s;
	margin-left: $spacing--xs;
	padding: $spacing--xxxs $spacing--xs;
	border: $border-width--button $color--primary solid;
	border-radius: 20px;
	position: relative;
}