// --------------------------------------------------------------------------------------------------------------------
// Type Variables
// --------------------------------------------------------------------------------------------------------------------


// Font stacks

$font-family-sans-serif:		"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-serif:				Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-mono:				Consolas, "Liberation Mono", Courier, monospace !default;


// Weights

$font-weight-normal:			400;
$font-weight-bold:				700;


// Sizes

$font-size-xxs:					$base-size * .625;	// 10px
$font-size-xs:					$base-size * .75;	// 12px
$font-size-s:					$base-size * .875;	// 14px
$font-size-m:					$base-size * 1;		// 16px
$font-size-l:					$base-size * 1.5;	// 24px
$font-size-xl:					$base-size * 2;		// 32px
$font-size-xxl:					$base-size * 3;		// 48px

$line-height-s:					1.125;
$line-height-m:					1.375;
$line-height-l:					1.4375;


// --------------------------------------------------------------------------------------------------------------------


html {
	font-weight: $font-weight-normal;
	font-family: $font-family-serif;
	@include fontsize(m);
	color: getColor(text);
	text-align: left;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, ul, ol, dl, pre, adress, blockquote {
	margin: 0 0 $global-spacing;
}


// Headings

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif;
}

h1, .h1 {
	@include fontsize(xxl);
}

h2, .h2 {
	@include fontsize(xl);
}

h3, .h3 {
	@include fontsize(l);
}

h4, .h4 {
	@include fontsize(m);
}

h5, .h5 {
	@include fontsize(m);
	margin-bottom: 0;
}

h6, .h6 {
	@include fontsize(m);
	margin-bottom: 0;
}


// Links

a {
	color: getColor(text, link);
	text-decoration: none;
	outline: 0;
	@include transition(color);

	&:hover, &:focus, &:active {
		color: getColor(text, link-hover);
		text-decoration: underline;
	}

	&:focus {
		outline: 0;
	}

}


// Lists

ul, ol {
	margin: $global-spacing 0;
	padding-left: $spacing-l;
}

ul {
	list-style: square outside;
}

ol {
	list-style: decimal outside;
}

nav ul, nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

dl {
}

dt {
	font-weight: $font-weight-bold;
}

dd {
	margin: 0 0 $spacing-m;
}


// Various

address, blockquote, cite, dfn, em, i, .italic, var {
	font-style: italic;
}

del, s, strike {
	text-decoration: line-through;
}

code, kbd, pre, samp {
	font-family: $font-family-mono;
	@include fontsize(s);
	white-space: pre-line;
	white-space: pre-wrap;
}

p {
	margin-bottom: $spacing-m;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

adress {
}

mark {
	background: getColor(text, marked);
	color: getColor(text);
	border-radius: 2px;
	padding: $spacing-xxs $spacing-xs;
}

blockquote {
	border-left: 3px solid getColor(border, blockquote);
	margin-bottom: $global-spacing;
	padding: $gutter;

	:last-child {
		margin-bottom: 0;
	}

}

small {
	@include fontsize(s);
	display: inline-block;
}

hr {
	display: block;
	height: 1px;
	border: 0 none;
	border-top: 1px solid getColor(border);
	margin: $spacing-m 0;
}


// Styles for viewport > 480 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-s) {
}


// Styles for viewport > 600 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-m) {
}


// Styles for viewport > 768 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-l) {
}


// Styles for viewport > 992 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-xl) {
}


// Styles for viewport > 1280 px --------------------------------------------- //

@media only screen and (min-width: $screenwidth-xxl) {
}


// Styles for Retina / High DPI Styles --------------------------------------- //

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
}

// Print Styles -------------------------------------------------------------- //

@media print {

	h1, h2, h3, h4, h5, h6 {
	    page-break-after: avoid;
	}

	p, h1, h2, h3, h4, h5, h6 {
	    orphans: 3;
	    widows: 3;
	}

	ul {
	    list-style: disc inside;
	    padding: 0 $spacing-l;
	}

	ol {
	    list-style: decimal inside;
	    padding: 0 $spacing-l;
	}

	a, a:visited {
	    color: #000!important;
	    text-decoration: underline;
	}

}