// --------------------------------------------------------------------------------------------------------------------
// Typography Variables
// --------------------------------------------------------------------------------------------------------------------


// Font stacks

$font-family-sans-serif:		"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-serif:				Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-mono:				Consolas, "Liberation Mono", Courier, monospace !default;


// Sizes

$font-size-xxs:					$base-size * .625;			// 10px
$line-height-xxs:				$base-size * .875;			// 14px

$font-size-xs:					$base-size * .75;			// 12px
$line-height-xs:				$base-size * 1.125;			// 18px

$font-size-s:					$base-size * .875;			// 14px
$line-height-s:					$base-size * 1.25;			// 20px

$font-size-m:					$base-size * 1;				// 16px
$line-height-m:					$base-size * 1.5;			// 24px

$font-size-l:					$base-size * 1.25;			// 20px
$line-height-l:					$base-size * 1.75;			// 28px

$font-size-xl:					$base-size * 1.5;			// 24px
$line-height-xl:				$base-size * 2;				// 32px

$font-size-xxl:					$base-size * 2;				// 32px
$line-height-xxl:				$base-size * 2.5;			// 40px

$font-size-xxxl:				$base-size * 3;				// 48px
$line-height-xxxl:				$base-size * 3.375;			// 56px

$font-size-4xl:					$base-size * 4;				// 64px
$line-height-4xl:				$base-size * 4.5;			// 72px

$font-size-5xl:					$base-size * 5;				// 80px
$line-height-5xl:				$base-size * 5.625;			// 90px


// Weights

$font-weight-normal:			400;
$font-weight-bold:				700;



// --------------------------------------------------------------------------------------------------------------------



html {
	font-weight: $font-weight-normal;
	font-family: $font-family-serif;
	@include fontsize(m);
	text-align: left;
	color: $color-text;
}


// Headings and paragraph


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: $spacing--xl 0 $spacing--m;

	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif;
	@include fontsize(xxl);

	@include mq-s {
		@include fontsize(xxxl);
	}

	@include mq-m {
		@include fontsize(4xl);
	}

	@include mq-l {
		@include fontsize(5xl);
	}
}

h2, .h2 {
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif;
	@include fontsize(xl);

	@include mq-s {
		@include fontsize(xxl);
	}

	@include mq-m {
		@include fontsize(xxxl);
	}

	@include mq-l {
		@include fontsize(4xl);
	}
}

h3, .h3 {
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif;
	@include fontsize(l);

	@include mq-s {
		@include fontsize(xl);
	}

	@include mq-m {
		@include fontsize(xxl);
	}

	@include mq-l {
		@include fontsize(xxxl);
	}
}

h4, .h4 {
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif;
	@include fontsize(m);

	@include mq-s {
		@include fontsize(l);
	}

	@include mq-m {
		@include fontsize(xl);
	}

	@include mq-l {
		@include fontsize(xxl);
	}
}

h5, .h5 {
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif;
	@include fontsize(m);

	@include mq-m {
		@include fontsize(l);
	}

	@include mq-l {
		@include fontsize(xl);
	}
}

h6, .h6 {
	font-weight: $font-weight-bold;
	font-family: $font-family-sans-serif;
	@include fontsize(m);
}

p,
ul,
ol,
dl {
	margin: $spacing--m 0;

	&:first-child {
		margin-top: 0;
	}
}

p {
	
}


// Links

a {
	color: $color-link;
	text-decoration: none;
	outline: 0;
	@include transitionOut(color);

	&:hover, &:focus, &:active {
		color: $color-link-hover;
		text-decoration: none;
		@include transitionIn(color);
	}

}


// Lists

ul, ol {
	padding-left: $spacing--l;

	& &:first-child {
		margin: $spacing--m 0;
	}

}

ul {
	list-style: square outside;
}

ol {
	list-style: decimal outside;
}

nav ul, nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

dl {
	
}

dt {
	font-weight: $font-weight-bold;
}

dd {
	
}


// General text formatting

small {
	@include fontsize(xs);
}

b, strong {
	font-weight: $font-weight-bold;
}

em, i {
	font-style: italic;
}

del, s, strike {
	text-decoration: line-through;
}

code, kbd, pre, samp {
	font-family: $font-family-mono;
	@include fontsize(xs);
	white-space: pre-line;
	white-space: pre-wrap;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0 0 $spacing--m;
}

adress {
	font-style: italic;
	margin: 0 0 $spacing--m;
}

mark {
	background: yellow;
	border-radius: 2px;
	padding: $spacing--xxs $spacing--xs;
}

blockquote {
	font-style: italic;
	border-left: 3px solid $color-primary;
	margin: $spacing--xl 0;
	padding: $gutter;

	&:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}

}

cite {
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0 none;
	border-top: 1px solid $color-border;
	margin: $spacing--l 0;

	@include mq-s {
		margin: $spacing--xl 0;
	}

	@include mq-m {
		margin: $spacing--xxl 0;
	}
}


// Text Styles

.text--small {
	@extend small;
}

.text--big {
	@include mq-s {
		@include fontsize(xl);
	}
}

.text--light {
	color: $color-text-light;
}

.text--regular {
	font-weight: $font-weight-normal;
}

.text--bold {
	font-weight: $font-weight-bold;
}

.text--spaced {
	letter-spacing: 3px;
}

.text--caps {
	text-transform: uppercase;
}

.text--success {
	color: $color-success;
}

.text--warning {
	color: $color-warning;
}

.text--alert {
	color: $color-alert;
}

.text--truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}