.maxwidth {
	margin-right: auto;
	margin-left: auto;

	&--xs {
		max-width: $screenwidth-xs;
	}

	&--s {
		max-width: $screenwidth-s;
	}

	&--m {
		max-width: $screenwidth-m;
	}

	&--l {
		max-width: $screenwidth-l;
	}

	&--xl {
		max-width: $screenwidth-xl;
	}

	&--xxl {
		max-width: $screenwidth-xxl;
	}

	&--xxxl {
		max-width: $screenwidth-xxxl;
	}
}

.align--left {
	text-align: left;
}

.align--right {
	text-align: right;
}

.align--center {
	text-align: center;
}

.align--justify {
	text-align: justify;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.clearfix {
	@include clearfix;
}

.truncate {
	@include truncate;
}