.maxwidth {
	margin-right: auto;
	margin-left: auto;

	&--xs {
		max-width: $screenwidth--xs;
	}

	&--s {
		max-width: $screenwidth--s;
	}

	&--m {
		max-width: $screenwidth--m;
	}

	&--l {
		max-width: $screenwidth--l;
	}

	&--xl {
		max-width: $screenwidth--xl;
	}

	&--xxl {
		max-width: $screenwidth--xxl;
	}

	&--xxxl {
		max-width: $screenwidth--xxxl;
	}
}

.align {
	&--left {
		text-align: left;
	}
	&--right {
		text-align: right;
	}
	&--center {
		text-align: center;
	}
	&--justify {
		text-align: justify;
	}
}

.float {
	&--left {
		float: left;
	}
	&--right {
		float: right;
	}
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.clearfix {
	@include clearfix;
}

.block {
	display: block;
}

.margin {
	&--none {
		margin-bottom: 0 !important;
	}
	&--xs {
		margin-bottom: $spacing--xs !important;
	}
	&--s {
		margin-bottom: $spacing--s !important;
	}
	&--m {
		margin-bottom: $spacing--m !important;
	}
	&--l {
		margin-bottom: $spacing--l !important;
	}
	&--xl {
		margin-bottom: $spacing--xl !important;
	}
	&--xxl {
		margin-bottom: $spacing--xxl !important;
	}
	&--xxxl {
		margin-bottom: $spacing--xxxl !important;
	}
}