.maxwidth {
	margin-right: auto;
	margin-left: auto;

	&--mobile {
		max-width: $screenwidth--mobile;
	}

	&--mobile-l {
		max-width: $screenwidth--mobile-l;
	}

	&--phablet {
		max-width: $screenwidth--phablet;
	}

	&--tablet {
		max-width: $screenwidth--tablet;
	}

	&--laptop {
		max-width: $screenwidth--laptop;
	}

	&--screen {
		max-width: $screenwidth--screen;
	}

	&--big-screen {
		max-width: $screenwidth--big-screen;
	}

	&--huge-screen {
		max-width: $screenwidth--huge-screen;
	}
}

.align {
	&--left {
		text-align: left;
	}
	&--right {
		text-align: right;
	}
	&--center {
		text-align: center;
	}
	&--justify {
		text-align: justify;
	}
}

.float {
	&--left {
		float: left;
	}
	&--right {
		float: right;
	}
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.clearfix {
	@include clearfix;
}

.block {
	display: block;
}

.margin {
	&--none {
		margin-bottom: 0 !important;
	}
	&--xs {
		margin-bottom: $spacing--xs !important;
	}
	&--s {
		margin-bottom: $spacing--s !important;
	}
	&--m {
		margin-bottom: $spacing--m !important;
	}
	&--l {
		margin-bottom: $spacing--l !important;
	}
	&--xl {
		margin-bottom: $spacing--xl !important;
	}
	&--xxl {
		margin-bottom: $spacing--xxl !important;
	}
	&--xxxl {
		margin-bottom: $spacing--xxxl !important;
	}
}