// --------------------------------------------------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------------------------------------------------


// Color variables

$color-primary:					#37b;
$color-secondary:				#717579;

$color-white:					#fff;
$color-black:					#000;

$color-gray-light:				rgba( $color-black, .04 );
$color-gray:					rgba( $color-black, .1 );
$color-gray-dark:				rgba( $color-black, .16 );


// Text, Links

$text-color:					rgba( $color-black, .8 );
$text-color-light:				rgba( $text-color, .5 );

$text-color-inverted:			$color-white;
$text-color-inverted-light:		darken( $text-color-inverted, 35% );

$link-color:					$color-primary;
$link-color-hover:				$text-color;

$link-color-inverted:			rgba( $color-white, .5 );
$link-color-inverted-hover:		rgba( $color-white, 1 );

$markedtext-color:				#fff000;


// Buttons

$button-color-primary:			$color-primary;
$button-color-primary-hover:	darken( $button-color-primary, 10% );

$button-color-secondary:		$color-secondary;
$button-color-secondary-hover:	darken( $button-color-secondary, 10% );


// Borders

$border-color:					lighten( $color-secondary, 30% );


// Backgrounds

$background-html:				$color-white;
$background-body:				$color-white;

$background-masthead:			$color-white;

$background-content-primary:	$color-white;
$background-content-secondary:	lighten( $color-secondary, 50% );

$background-footer:				darken( $color-secondary, 10% );


// --------------------------------------------------------------------------------------------------------------------
// Font declarations
// --------------------------------------------------------------------------------------------------------------------


// Font stacks

$font-family-sans-serif:		"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-serif:				Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-monospace:			Consolas, "Liberation Mono", Courier, monospace !default;


// Weights

$font-weight-normal:			400;
$font-weight-bold:				700;


// Sizes

$base-size:						16px;

$font-size-s:					$base-size * .75;	// 12px
$font-size-m:					$base-size * 1;		// 16px
$font-size-l:					$base-size * 1.5;	// 24px
$font-size-xl:					$base-size * 2;		// 32px
$font-size-xxl:					$base-size * 3;		// 48px

$line-height-s:					1.125;
$line-height-m:					1.35;
$line-height-l:					1.5;

// Text decoration

$text-decoration:				none;
$text-decoration-hover:			underline;


// --------------------------------------------------------------------------------------------------------------------
// Spacings
// --------------------------------------------------------------------------------------------------------------------


$spacing-xs:					$base-size / 4;
$spacing-s:						$base-size / 2;
$spacing-m:						$base-size;
$spacing-l:						$base-size * 2;
$spacing-xl:					$base-size * 3;
$spacing-xxl:					$base-size * 4;


// --------------------------------------------------------------------------------------------------------------------
// Screenwidths
// --------------------------------------------------------------------------------------------------------------------


$screenwidth-xs:				320px;
$screenwidth-s:					480px;
$screenwidth-m:					600px;
$screenwidth-l:					768px;
$screenwidth-xl:				992px;
$screenwidth-xxl:				1280px;
$screenwidth-xxxl:				1600px;


// --------------------------------------------------------------------------------------------------------------------
// Global Styles
// --------------------------------------------------------------------------------------------------------------------


$global-radius:					2px;
$global-transition-timing:		.25s;
$global-transition-easing:		ease-in-out;
$box-shadow:					0 2px 4px $border-color;

