* {
	box-sizing:border-box;

	&:before,&:after {
		box-sizing: inherit;
	}
}

html {
	background: $background-color-html;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: $background-color-body;
	height: 100%;
}

.wrapper {
	max-width: $wrapper-width;
	margin-right: auto;
	margin-left: auto;
}

.wrapper.wide {
	max-width: $wide-wrapper-width;
}

.wrapper.no-limit {
	max-width: none;
}

.wrapper.no-padding {
	overflow: hidden;
	padding-right: 0 !important;
	padding-left: 0 !important;
}


// Styles for viewport > 480 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-s) {
}


// Styles for viewport > 600 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-m) {
}


// Styles for viewport > 768 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-l) {
}


// Styles for viewport > 992 px ---------------------------------------------- //

@media only screen and (min-width: $screenwidth-xl) {
}


// Styles for viewport > 1280 px --------------------------------------------- //

@media only screen and (min-width: $screenwidth-xxl) {
}


// Styles for Retina / High DPI Styles --------------------------------------- //

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi) {
}

// Print Styles -------------------------------------------------------------- //

@media print {

	* {
		background: transparent!important;
		color: #000!important;
		text-shadow: none!important;
		box-shadow: none!important;
		opacity: 1!important;
		filter: none!important;
		-ms-filter: none!important;
	}

	@page {
		margin: 2cm;
	}

}